@use "../../styles/variables" as *;

.teal {
    color: $teal;
}

.abuser-list-hero {
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 17%, rgba(2, 154, 168, 1) 52%, rgba(0, 0, 0, 1) 90%);
}

//Design process section
.abuser-design-process-section {
    background-color: $teal;
}

.decision-body {
    .process-step-sub-section {
       margin: 24px 0;
    }
}
