@use "../../styles/variables" as *;

.abuse-list-hero {
    img {
        border-radius: $border-radius;
    }
}

.black {
    background-color: $black;
    width: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}
