@use "../../styles/variables" as *;

.purple {
    color: $purple;
}

.publish-awards-hero {
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 15%, rgba(108, 84, 161, 1) 52%, rgba(0, 0, 0, 1) 90%);
}

//Design process section
.publish-design-process-section {
    background-color: $purple-light;
}

