@use "../../styles/variables" as *;

.csslightbox {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: auto;
}

.lightbox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

.lightbox {
  img {
    max-width: 60%;
    height: auto;
    width: 100%;
  }
}