@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


$text-color: #162127;
$invert-text-color: #fff;
$border-color: #cbc6de;

$black: #000;
$white: #fff;
$disabled: #6a6a6b;
$app-background: #F7F7FB;
$primary-dark: #162127;
//$primary-color: #004c72;
$primary-color: #3159a4;
$primary-light: #91ABDB;
$primary-super-light: #E1EAFC;
$secondary-color: #eaa100;
$secondary-light: #faefd7;
$tertiary-color: #e8ebf4;
$success-color: #02ab05;
$success-light: #bcf1bd;
$grey-dark: #6a6a6b;
$grey: #a1a1a2;
$grey-light: #d9d9db;
$red: #FD1D1D;

$purple-dark: #5430a2;
$purple: #6C54A1;
$purple-light: #b29edd;


$box-shadow-dark: 3px 3px 8px rgba(0,0,0,0.25);
$box-shadow: 3px 3px 8px rgba(0,0,0,0.10);
$box-shadow-bottom-inset: inset 0px -6px 6px -2px rgba(0,0,0,0.17);

$border-radius: 12px;
$border-radius-small: 6px;
$border-radius-large: 20px;


$color-1: #162127;
  

$color-4: #f4ebe8;
$color-5: #f7f6f4;
