@use "../../styles/variables" as *;

.red {
  color: $red;
}

.input-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;

    
}

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    padding: 24px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow-dark;

    .messageBanner {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 16px;
        background-color: $success-light;
        border-radius: $border-radius;
        padding: 12px 24px;
        color: $black;
    }

}