@use "../../styles/variables" as *;

.footerSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $black;
  width: 100%;
}

.letsConnect {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
  background-color: $black; 
  color: $white;
  font-size: 12px;
  font-weight: 300;
  padding: 24px 64px 24px 40px;
  max-width: 1000px;
  width: stretch;
  transition: padding-left 0.5s ease, padding-right 0.5s ease;
}

.copy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-color: $primary-light;
  color: $white;
  font-size: 12px;
  font-weight: 300;
  width: stretch;
  transition: padding-left 0.5s ease, padding-right 0.5s ease;
  padding: 12px 64px;
  p {
    font-size: 12px;
  }
} 

.sectionTitle {
  color: $white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 2px;
}

.letsConnectLinks {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 8px;

  .resume,
  .socials,
  .email {
    cursor: pointer;

    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 12px;
      color: $white;
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: capitalize;
      white-space: nowrap;

      span {
        text-transform: lowercase;
        color: $white;
      }
    }
    &:hover {
      cursor: pointer;
      
      a {
        color: $primary-super-light;
      }
      span {
        color: $primary-super-light;
      }
    }
  }

  
}


@media (max-width: 785px) {
  .copy {
    padding: 12px 32px;
  }
  .letsConnect {
    padding: 16px 32px 16px 15px;
  }
}

@media (max-width: 650px) {
  .letsConnectLinks {
    width: 100%;
    justify-content: center;
    gap: 12px;
  }
}


@media (max-width: 450px) {
  .copy {
    padding: 12px 16px;
  }
  .letsConnect {
    padding: 16px 16px 16px 0;
  }
}